/* Base Application Styles */
html, body {
  width: 100%;
  height: 100%;

  background-color: #222;
}

.content {
  width: 100%;
  height: 100%;
}

/*stage -- start*/
.stage {
  position: relative;

  width: 100%;
  height: 680px;
}
/*stage -- end*/

/*image -- start*/
.img-sec {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: #ddd;
  
  @at-root {
    .img-figure {
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;

      background-color: #fff;

      box-sizing: border-box;
      cursor: pointer;
      transform-style: preserve-3d;

      &.is-inverse {
        transform: rotateY(180deg);
      }
    }

    figcaption {
      text-align: center;

      .img-title {
        margin: 20px 0 0 0;

        color: #a7a0a2;
        font-size: 16px;
      }
      .img-back {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        padding: 50px 40px;
        box-sizing: border-box;
        text-align: center;
        color: #666;
        transform: rotateY(180deg);
        background: #fff;
      }
    }
  }
}
/*image -- end*/

/*controller -- start*/
.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;

  text-align: center;
}
/*controller-nav -- end*/